*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
}

header, nav{
    margin-bottom: 20px;
}

header {
    min-height: 70px;
    background-color: cornflowerblue;
}

nav {
    min-height: 400px;
    background-color: chocolate;
}

main { 
    min-height: 600px;
    margin-bottom: 10px;
    background-color: mediumpurple;
}

footer {
    min-height: 30px;
    background-color: yellowgreen;
}

section > .over {
    width: 100%;
    min-height: 40px;
    background-color: rgb(188, 168, 228);
}

.col.sidebar {
    width: 22%;   
}

.col.content {
    width: calc(100% - 44% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.col{
    float: left;
    min-height: 560px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgb(188, 168, 228);
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.col :nth-child(3){
    margin-left: 0;
}
